html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

input {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}



body {
  min-height: 100vh;
  width: 100%;
  height: 100%;

  background: linear-gradient(27deg, rgba(0,5,40,1) 0%, rgba(32,82,125,1) 41%, rgba(59,59,176,1) 55%, rgba(0,5,40,1) 100%);

  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.PDFViewerWrapper {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  width: 100vw;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.8);
}

.PDFViewer {
  width: 90%;
  height: 90%;
}

.PDFViewer__buttonOpen {
  position: absolute;
  top: 30px;
  right: 30px;

  padding: 10px;

  border-radius: 8px;

  color: rgb(121, 7, 7);
}

/* mainForm */
.mainForm {
  position: relative;

  width: 980px;
  min-height: 800px; /* change */
  margin: 20px auto;
  padding: 20px;
  padding-bottom: 131px;

  background-color: white;
  background-color: #1d1d1d;
  /* backdrop-filter: blur(30px); */

  border-radius: 24px;
  box-shadow: 0px 40px 80px 10px rgba(0, 0, 0, 0.5);
}

.mainForm__title {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Pacifico", cursive;
  color: white;
}

.mainForm__main {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 20px 40px;
  background-color: rgba(245,246,246,1);
  border-radius: 8px;
  box-shadow: 2px 2px 4px 0px rgba(34, 60, 80, 0.2);
}

/* .mainForm__inputWrapper {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  margin-left: 40px;
} */

.mainForm__itemInputWrapper {
  margin-top: 40px;
}

.mainForm__buttonsWrapper {
  position: absolute;
  bottom: 20px;

  display: flex;
  justify-content: center;
  gap: 30px;
  width: calc(100% - 40px);
  padding: 14px;

  background-color: #323940;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 0px rgba(34, 60, 80, 0.2);
}

.mainForm__button {
  padding: 2px 20px;

  background-color: #97BF6F;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  font-family: "Pacifico", cursive;
  font-size: 20px;
  color: black;

  transition: background-color 300ms, transform 100ms;


  cursor: pointer;
}

.mainForm__button a {
  text-decoration: none;
  color: inherit
}

.mainForm__button:hover {
  background-color: #BCF285;
}

.mainForm__button:active {
  transform: translateY(2px);
}


/* ItemInput */
.itemInput {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 14px;
  background-color: rgba(245,246,246,1);
  border-radius: 8px;
  box-shadow: 2px 2px 4px 0px rgba(34, 60, 80, 0.2);
}

.itemInput__inputWrapper {
  width: 150px;
  height: 35px;
}

.itemInput__inputMainWrapper {
  width: 250px;
  height: 35px;
}

.itemInput__number {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 35px;
  aspect-ratio: 1;
  margin-right: 10px;
  padding-bottom: 3px;

  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.itemInput__input {
  margin-left: 3px;
}

.itemInput__secondInput {
  width: 85px;
  margin-left: 3px;
}

.itemInput__button {
  padding: 2px 10px;

  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  font-family: "Pacifico", cursive;
  color: rgb(18, 124, 53);

  transition: background-color 300ms, transform 100ms;

  cursor: pointer;
}

.itemInput__button--remove {
  color: rgb(121, 32, 10);
}

.itemInput__button:hover {
  background-color: white;
}

.itemInput__button:active {
  transform: translateY(2px);
}

/* input  */
.inputWrapper {
  position: relative;

  display: flex;
  align-items: center;

  max-width: 350px;
  /* padding: 4px 14px; */

  background-color: inherit;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;

  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.input {
  position: relative;

  width: 100%;
  padding: 8px 14px;
  background: transparent;
  border: none
}

.inputLabel {
  position: absolute;
  top: 0;
  left: 10px;

  padding: 0 3px;

  background-color: transparent;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);

  transition: 
    top 300ms,
    background-color 300ms,
    font-size 300ms,
    color 300ms;
}

.inputWrapper:hover .input {
  z-index: 1;
}

.input:focus ~ .inputLabel,
.input:not(:placeholder-shown).input:not(:focus) ~ .inputLabel {
  top: -14px;

  background-color: inherit;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.input:invalid {
  color: rgb(121, 10, 10);
  text-decoration: underline;
}


@media (max-width: 1020px) {
  body {
    background: rgb(21, 21, 63);
  }
}